<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.core.mapper.TbAlbumMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.core.pojo.TbAlbumPojo">
        <id column="id" property="id" />
        <result column="album_name" property="albumName" />
        <result column="pic" property="pic" />
        <result column="indirect" property="indirect" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, album_name, pic, indirect, update_time, create_time
    </sql>

</mapper>
