<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.core.mapper.TbLikeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.core.pojo.TbLikePojo">
        <id column="user_id" property="userId" />
        <result column="song_name" property="songName" />
        <result column="pic" property="pic" />
        <result column="description" property="description" />
        <result column="tag" property="tag" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, song_name, pic, description, tag, update_time, create_time
    </sql>

</mapper>
